# **Python Assignment 1 - Variables, Operators and Type Casting**
    
##         Name - Namita Kumari  Date - 2024/08/31


1.a. Variable in Python :  A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

Creating a variable that stores your name :  In Python, we can create a variable to store a string, such as a name, like this:

In [14]:
name = "John"          #name is variable and John is string value assigned to it

1.b. Difference between a variable and a constant :

Variable

Definition: A variable is a named location in memory that stores a value. The value stored in a variable can be changed during the execution of a program.

Characteristics:

Mutability: Variables can be modified after their initial assignment.

Usage: Variables are used when you need to store data that might change or be updated throughout the program.

Example

In [ ]:
age = 25            # 'age' is a variable
age = 26            # The value of 'age' is updated to 26

Constant

Definition:
 A constant is a value that, once assigned, cannot be changed throughout the execution of the program. Constants are often used to represent fixed values that should remain the same.

Characteristics:

Immutability: Constants are intended to be immutable, meaning their value should not be changed after initial assignment.

Usage: Constants are used for values that should remain consistent, such as mathematical constants (e.g., π) or configuration settings.

Convention: In many programming languages, constants are represented by names written in uppercase letters with underscores separating words, but the enforcement of immutability depends on the language.

Example:

In [ ]:
PI = 3.14159     # 'PI' is a constant
                 # Attempting to change PI later in the code would be against convention:
                # PI = 3.14
                 # This is generally discouraged but technically allowed in Python

Key Differences

Mutability: Variables can change their value, while constants should not change once set.

Purpose: Variables are used for data that will be updated, whereas constants are used for fixed values.

Convention: In languages that support constant declarations explicitly (e.g., const in C++ or Java), constants are enforced by the language itself. In Python, the immutability of constants is a matter of convention rather than enforcement.

In Python, while there is no built-in constant type, using all uppercase names for constants is a common convention to signal that these values should not be modified.

2. **Working with different Data Types**

a. Integer

In [ ]:
age = 10                #creating integer variable age and assigning value 10 to it

In [ ]:
print(age)            #printing the value of age

10

b. Float

In [ ]:
weight = 50.5          #creating float variable weight and assigning value 50.5 to it

In [ ]:
print (weight)         #printing the value of weight

50.5

c. String

In [ ]:
name = "John"          #creating string variable name and assigning value "John" to it

In [ ]:
print (name)            #printing the value of name

John

d. Boolean

In [ ]:
a = 200                #creating integer variable a
b = 100                #creating integer variable b
if a > b:
  print("a is greater than b")         #printing if the condition is true
else:
  print("a is not greater than b")          #printing if the condition is false

a is greater than b

2.b. To display the type of each variable

In [3]:
age = 10
type (age)

int

In [4]:
weight = 50.5
type (weight)

float

In [5]:
name = "John"
type (name)

str

## 3. Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

a. Addition(+) :
In Python, + is the addition operator. It is used to add 2 values.

In [ ]:
value1 = 2
value2 = 3

# using the addition operator
result = value1 + value2
print(result)

5

b. Substraction(-) : In Python, – is the subtraction operator. It is used to subtract the second value from the first value.

In [ ]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

-1

c. Multiplication(*) : Python * operator is the multiplication operator. It is used to find the product of 2 values.

In [ ]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

6

d. Division(/) : Python / operator is the division operator. It is used to find the quotient when the first operand is divided by the second.

In [ ]:
val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

1.5

e. Floor Division(//) : The // in Python is used to conduct the floor division. It is used to find the floor of the quotient when the first operand is divided by the second.

In [ ]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

1

f. Modulus(%) : The % in Python is the modulus operator. It is used to find the remainder when the first operand is divided by the second.

In [ ]:
val1 = 3
val2 = 2

# using the modulus operator
res = val1 % val2
print(res)

1

g. Exponentiation(**): In Python, ** is the exponentiation operator. It is used to raise the first operand to the power of the second.

In [ ]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

8

3.b. Calculate the area of a rectangle using variables 'length' and 'width' with values 5 and 10, respectively by using the multiplication operator.

In [ ]:
# Function to calculate the area using simple multiplication
def area_simple_multiplication(length, width):
	return length * width

# Example usage:
length = 5
width = 10
result = area_simple_multiplication(length, width)
print(f"Area of Rectangle: {result}")

Area of Rectangle: 50

# 4. Comparision and Logical Operators
 a. Comaprision operators with examples:
   1. Equal to(==) :The Equal to Operator is also known as the Equality Operator in Python, as it is used to check for equality. It returns True if both the operands are equal i.e. if both the left and the right operands are equal to each other. Otherwise, it returns False.

In [ ]:
a = 9
b = 5
c = 9

# Output
print(a == b)
print(a == c)

False
True

  2. Not Equal to(!=) :The Not Equal To Operator returns True if both the operands are not equal and returns False if both the operands are equal.

In [ ]:
a = 9
b = 5
c = 9

# Output
print(a != b)
print(a != c)

True
False

 3. Greater than(>) : The Greater Than Operator returns True if the left operand is greater than the right operand otherwise returns False.

In [ ]:
a = 9
b = 5

# Output
print(a > b)
print(b > a)

True
False

  4. Less than(<) : The Less Than Operator returns True if the left operand is less than the right operand otherwise it returns False.

In [ ]:
a = 9
b = 5

# Output
print(a < b)
print(b < a)

False
True

  5. Grerater that or equal to(>=) : The Greater Than or Equal To Operator returns True if the left operand is greater than or equal to the right operand, else it will return False.

In [ ]:
a = 9
b = 5
c = 9

# Output
print(a >= b)
print(a >= c)
print(b >= a)

True
True
False

  6. Less than or equal to(<=) : The Less Than or Equal To Operator returns True if the left operand is less than or equal to the right operand.

In [ ]:
a = 9
b = 5
c = 9

# Output
print(a <= b)
print(a <= c)
print(b <= a)

False
True
True

4.b A Python script that checks if a number is positive or even using logical
    operators ('and','or' and 'not').

In [11]:
a = 8
if a > 0 and a%2 == 0:
    print("The number is positive and even")
else:
    pass
    print("The number is not positive")

The number is positive and even


# Type Casting in Python

  a. Type Casting : Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users. In this article, we will see the various techniques for typecasting. There can be two types of Type Casting in Python:

      Python Implicit Type Conversion
      Python Explicit Type Conversion

  *Implicit Type Conversion in Python:*
  
In this, method, Python converts the datatype into another datatype automatically. Users don’t have to involve in this process.

In [ ]:
# Python program to demonstrate
# implicit type Casting

# Python automatically converts
# a to int
a = 7
print(type(a))

# Python automatically converts
# b to float
b = 3.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

*Explicit Type Conversion in Python* :

In this method, Python needs user involvement to convert the variable data type into the required data type.

Examples of Type Casting in Python
Mainly type casting can be done with these data type functions:

Int(): Python Int() function take float or string as an argument and returns int type object.
float(): Python float() function take int or string as an argument and return float type object.
str(): Python str() function takes float or int as an argument and returns string type object.

Python Convert Int to Float

Here, we are Converting Int to Float in Python with the float() function.

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

5.b Python script that converts a float to an integer

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

Python script that converts an integer to string

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to str
n = str(a)

print(n)
print(type(n))

5
<class 'str'>

Python script that converts a string to float

In [ ]:
# Python program to demonstrate
# type Casting

# string variable
a = "5.9"

# typecast to float
n = float(a)

print(n)
print(type(n))

5.9
<class 'float'>

# 6. Python script to create a mini calculator

If user is asked to input two numbers, the mini calculator performs tasks as such :

a. Adds the two numbers and prints the result.

b. Subtracts the second number from the first and prints the result.

c. Multiplies the two numbers and prints the result.

d. Divides the first number by the second and prints the result (handle division by zero).

e. Converts the sum of the numbers to a string and prints the type of the result.

In [13]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
sum_result = n1 + n2
print("Addition of Two Numbers -->",sum_result)

print('--'*20)

sub_result = n1 - n2
print("Substraction Value -->",sub_result)

print('--'*20)

multi_result = n1 * n2
print("Result of Multiplication -->",multi_result)

print('--'*20)

try:
    div_result = n1 / n2
except ZeroDivisionError:
    print("ZeroDivisionError! Can't divide by Zero!")
else:
    print("Division Value -->",div_result)

print('--'*20)

print("Data Type -->",type(str(sum_result)))

Enter the first number: 50
Enter the second number: 70
Addition of Two Numbers --> 120
----------------------------------------
Substraction Value --> -20
----------------------------------------
Result of Multiplication --> 3500
----------------------------------------
Division Value --> 0.7142857142857143
----------------------------------------
Data Type --> <class 'str'>